= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'new_user gl-show-field-errors', 'aria-live' => 'assertive'}) do |f|
  %div.form-group
    = f.label "Username or email", for: :login
    = f.text_field :login, class: "form-control top", autofocus: "autofocus", autocapitalize: "off", autocorrect: "off", required: true, title: "This field is required.", tabindex: 1
  %div.form-group
    = f.label :password
    = f.password_field :password, class: "form-control bottom", required: true, title: "This field is required.", tabindex: 2
  - if devise_mapping.rememberable?
    .remember-me.checkbox
      %label{for: "user_remember_me"}
        = f.check_box :remember_me, tabindex: 3
        %span Remember me
      .pull-right.forgot-password
        = link_to "Forgot your password?", new_password_path(resource_name), tabindex: 5
  %div.submit-container
    = f.submit "Sign in", class: "btn btn-save", tabindex: 4
